@bodyWidth: 1349px;

//theming

@baseColor: #183578;
@neutralColor: #D6D6D6;
//---------------------------------------------------------------------

//LOGO
//logo dimensions
@logoContainerLeftBegin : 0px;

@BITSlogoHeight: 104px;
@BITSlogoWidth: 317px;

@ICCCTAMlogoHeight: 183px;
@ICCCTAMlogoWidth: 461px;

@IEEElogoHeight: 65px;
@IEEElogoWidth: 200px;

//logo padding
@logoPaddingTopBottom: 5px;
@logoPaddingLeftRight: 10px;


//---------------------------------------------------------------------
//hero unit dimensions
@heroUnitHeight: 320px;

//sightseeing text+img dimensions
@sightseeingImageHeight: 200px;

//---------------------------------------------------------------------
//navigation

@navWidth : 180px;
@navTextSize: 14px;
@navBackgroundColor: @white;
@navTextColor: @white;

//----------------------------------------------------------------------
//thumbnail with caption

@thumbnailCaptionWidth: 254px;
@thumbnailCaptionHeight: 174px;
@thumbnailImageHeight: 145px;
@thumbnailTextHeight: @thumbnailCaptionHeight - @thumbnailImageHeight;


//------------------------------------------------------------------------
//padding

@contentMainPadding: 20px;


//-------------------------------------------------------------------------
//content formatting
@titleSize: 28px;