
@headerH2Size: 24px;
@headerH3Size: 16px;

@BITSLogoHeight: 104px;
@BITSLogoWidth: 401px;

//promotional video
@promotionalVideoWidth: 640px;

//spacing
@standardPaddingTopBottom: 20px;
@standardSectionPaddingTopBottom: 25px;
@headerPaddingTopBottom: 20px;

//keynote speaker box
@keynoteSpeakerBoxHeight: 150px;
@keynoteSpeakerH1: 1.2em;
@keynoteSpeakerH2: 1em;