//importing all standard .less from bootstrap

// CSS Reset
@import "reset.less";

//variables
@import "iccctam-variables.less"; 

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// Grid system and page structure
@import "scaffolding.less";
@import "grid.less";
@import "layouts.less";

// Base CSS
@import "type.less";
//@import "code.less";
@import "forms.less";
@import "tables.less";

// Components: common
@import "sprites.less";
@import "dropdowns.less";
//@import "wells.less";
@import "component-animations.less";
@import "close.less";

// Components: Buttons & Alerts
@import "buttons.less";
@import "button-groups.less";
@import "alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "navs.less";
@import "navbar.less";
//@import "breadcrumbs.less";
//@import "pagination.less";
//@import "pager.less";

// Components: Popovers
@import "modals.less";
//@import "tooltip.less";
//@import "popovers.less";

// Components: Misc
@import "thumbnails.less";
//@import "labels-badges.less";
//@import "progress-bars.less";
@import "accordion.less";
//@import "carousel.less";
@import "hero-unit.less";

//utilities
@import "utilities.less";

html
{
    min-height: 100%;
}

//something extra for centering stuff
.centering-row //assumption is that its child elements are inline-block
{
    display: block;
    text-align: center;
}

//---------------------------------------------------------------------------------------
@afterHeroPadding: 30px;
@import "iccctam-header.less";
@import "iccctam-nav.less";
@import "iccctam-keynote-speakers.less";
@import "iccctam-committee.less";
@import "iccctam-faq.less";
@import "iccctam-responsive-mobiles.less";
@import "iccctam-responsive-tablets.less";
//-----------------------------------------------------------------------------------------

#iccctamBody
{
    padding: 0;   
}

#iccctamContent
{
    background-color: @white;  
}

#iccctamMainContent
{
    border: 1px solid #e8e8e8;
    padding: @contentMainPadding;
    text-align: center;
    margin-bottom: 10px;
    
    #accordionTopicList
    {
        .accordion-heading
        {
            #gradient > .vertical(lighten(@neutralColor, 10%), @neutralColor);
            a
            {
                color: @black;
                text-align: left;
            }
        }   
        
        .accordion-inner
        {
            background-color: #F5F5F5;   
        }
    }
    section
    {
        h1
        {
            display: block;
            font-size: @titleSize;
            line-height: @titleSize + 2px;
            margin: (@contentMainPadding + 10px) (-@contentMainPadding);
            padding: 5px;
            text-align: center;
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            background-color: #EEE;
            color: @black;
            text-shadow: 0 0 1px 1px @white;
        }
        
        h2
        {
            font-size: 0.80 * @titleSize;
            line-height: 0.80 * @titleSize + 2px;
        }
        
        p
        {
            text-align: left;   
        }
    }
    
    section:first-child
    {
        h1:first-child
        {
            margin-top: @afterHeroPadding - @contentMainPadding;  
        }
    }
}

#sightseeing
{
    p
    {
        text-align: left;   
    }
    li
    {
        margin: 5px 0;  
        display: block;
        text-align: left;
        padding: 5px 0px;
        border: none;
        
        .thumbnail
        {
            padding: 0;
            border: none;
            .box-shadow(none);
            margin: 0;
        }
        h3
        {
            padding: 0 5px;
        }
        img
        {
            display: inline-block;
            text-align: center;
            padding: 5px;
            border: 1px solid lighten(@neutralColor, 5%);
            height: @sightseeingImageHeight;
            width: @sightseeingImageHeight;
        }
        p
        {
            margin-top: 10px;   
        }
    }
}

#contactUs
{
    text-align: left;   
}

#gettingThere 
{     
    h2, h3, h4, p
    {
        text-align: left; 
        margin-top: 10px;
    }
    
    iframe
    {
       width: 100%;
       height: 500px;
    }

    li
    {
        text-align: left;   
    }
}

#sponsors
{
    div.row-fluid
    {
        border-bottom: 1px solid #AEAEAE;
        padding: 20px 0;
        margin: 0 -20px;
        width: auto;
        &:first-child
        {
            border-top: 1px solid #AEAEAE; 
        }
    }
}
    
#accordionTopicList
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-width: 220px;
}

#importantDates table
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-width: 330px;
}
//----------------------------------------------------------------------------
//iccctam specific responsive behaviours

@media (min-width: 1260px)
{
    #iccctamContent > .container, #iccctamHeader > .container, .hero-unit .texturize .container
    {
        //width: 75%;   
    }
    
    #bitsLogo, #iccctamLogo, #ieeeLogo
    {
        height: auto;
        width: auto;
    }
}

//------Mixin for navigation------
.set-iccctam-nav-width(@navWidth)
{
     #iccctamNav
    {
        ul.nav
        {
            width: @navWidth + 3px;
       
            li
            {
                > a
                {
                    width: @navWidth - 2*10px + 1px;
                }
            }
        }
    }
}

//-------------------end of mixin------------

@media (min-width: 1440px) and (max-width: 1620px)
{
    .set-iccctam-nav-width(@navWidth1441_1620);
}

@media (min-width: 1621px) and (max-width: 1921)
{
    .set-iccctam-nav-width(@navWidth1621_1920);
}


//-------------------------------------------------------------------

