@bodyWidth: 1349px;

//theming

@baseColor: #183578;
@neutralColor: #D6D6D6;
//---------------------------------------------------------------------

//LOGO
//logo dimensions
@logoContainerLeftBegin : 0px;

@BITSlogoHeight: 85px;
@BITSlogoWidth: 268px;

@ICCCTAMlogoHeight: 110px;
@ICCCTAMlogoWidth: 285px;

@IEEElogoHeight: 50px;
@IEEElogoWidth: 165px;

//logo padding
@logoPaddingTopBottom: 5px;
@logoPaddingLeftRight: 10px;


//---------------------------------------------------------------------
//hero unit dimensions
@heroUnitHeight: 320px;

//sightseeing text+img dimensions
@sightseeingImageHeight: 200px;

//---------------------------------------------------------------------
//navigation

@navWidth : 180px; //till 1440
@navWidth1441_1620 : 0.183 * 1440;
@navWidth1621_1920 : 0.183 * 1620;

@navTextSize: 14px;
@navBackgroundColor: @white;
@navTextColor: @white;

//----------------------------------------------------------------------
//thumbnail with caption

@thumbnailCaptionWidth: 254px;
@thumbnailCaptionHeight: 174px;
@thumbnailImageHeight: 145px;
@thumbnailTextHeight: @thumbnailCaptionHeight - @thumbnailImageHeight;


//------------------------------------------------------------------------
//padding

@contentMainPadding: 20px;


//-------------------------------------------------------------------------
//content formatting
@titleSize: 28px;