#keynoteSpeakers
{
     .thumbnail
     {
         > img
         {
            display: inline-block;
            width: 150px;
            height: 150px;
            margin: 0;
         }
         
        padding: 0;
        border: none;
        .box-shadow(none);
        
        h3
        {
            padding: 10px 0px;
            margin: 0;
            line-height: 30px;
            display: block;
            width: 100%;
            //#gradient > .vertical(lighten(@neutralColor, 10%), @neutralColor);
            color: @black;
        }
        p
        {
            padding: 0 5px;   
        }
     }
}