

#iccctamNav
{
    margin-top: @afterHeroPadding;
    
    a.brand
    {
        display: none;   
    }
    ul.nav
    {
        padding: 0;
        margin: 0;
        width: @navWidth + 3px;
        border-style: none;
        
        li
        {
            list-style: none;
            
            > a
            {
                border-collapse: seperate; //IE9
                display: block;
                padding: 10px;
                width: @navWidth - 2*10px + 1px;
                font-size: @navTextSize;
                line-height: @navTextSize + 4px;
                text-align: center;
                background-color: @navBackgroundColor;
                color: @baseColor;
                .box-shadow(0 0 2px 0px lighten(@black, 25%));
                .transition(all 0.2s);
            }
            
            > a:hover
            {
                background-color: darken(@baseColor, 5%);
                color: @navTextColor;
                text-decoration: none;
                text-shadow: none;
            }
        }
            
        li.active
        {
            >a
            {   
                background-color: darken(@baseColor, 5%);
                color: @navTextColor;
                text-decoration: none;
                text-shadow: none;
            }
        }
        
        li:first-child
        {
            > a
            {
                .border-radius(4px 4px 0 0);   
            }
        }
        
        li:last-child
        {
            > a
            {
                .border-radius(0 0 4px 4px);   
            }
        }
    }
    
    &.affix
    {
        top: 0px;  
    }
}