@media (max-width: 767px)
{
    html
    {
        min-width: 488px;   
    }
    
    #iccctamHeader
    {
    
        .logo, .logo:first-child, .logo:last-child
        {
            display: block;
            width: 100%;
            text-align: center;
        }  
        img
        {
            display: inline-block;
            margin: auto;
        }
     }

    #iccctamNav
    {
        z-index: 10;
        text-align: center;
        vertical-align: middle;
        margin: 0;
        
        a.brand
        {
            display: inline-block;
        }
        
        a.btn-navbar
        {
            .box-shadow(0 0 5px 2px @orange);   
            cursor: pointer;
            margin-top: 5px;
            padding: 8px 20px;
            span
            {
                pointer-events: none;   
            }
        }
        
        a.btn-navbar:hover
        {
            .box-shadow(0 0 4px 1px @baseColor);   
        }
        
        ul.nav
        {
            width: 100%;
            padding: 5px 0;
            #gradient > .vertical(@neutralColor, darken(@neutralColor, 5%));
            .box-shadow(0 0 5px 1px @black);
            
            a.btn-navbar
            {
                display: inline-block;   
            }
            
            li
            {
                display: inline-block;
            }
        }
        
        div.nav-collapse
        {
            ul.nav
            {
                .box-shadow(inset 0 0 2px 0px @black);
                padding: 2px 0;
            }
        }
        
        &.affix
        {
            top:0;
            left: 0;
            right: 0;
            ul.nav { width: 100%; }
        }
    }
    
    #iccctamMainContent
    {
        padding-top: 0;
        margin-top: -10px;
    }
    
    #gettingThere iframe
    {
        width: 80%;   
    }
    
    #committee, #advisoryCommittee
    {
           ul.thumbnails
           {
                li
                {
                    width: 100%;
                    display:block;
                    margin: 0 auto;
                }
           }
    }
    
    #sightseeing
    {
        div.thumbnail img
        {
            display:block;   
            margin: 0 auto;
        }
    }
    
}


@media (max-width: 480px)
{
    html
    {
        min-width: 320px;   
    }
    body
    {
        padding: 0;   
    }
    
    #iccctamMainContent .caption-thumbnail
    {
        display: block;
        margin: 20px;
        position:static;
        width: auto;
        height: auto;
        .box-shadow(0 0 5px 0px lighten(@black, 5%));
        .transition(box-shadow 0.4s);
        
        img, p
        {
            position: static;
            width: auto;
            height: auto;
        }

        
        &:hover
        {
            .box-shadow(0 0 5px 1px @orange);
        }
    }
    
    #iccctamNav
    {
        ul.nav li > a
        {
             width: 150px;
             padding: 5px;
             font-size: 12px;
             line-height: 14px;
        }
    }

}

// media queries for modal in lower heights

@media  (max-height:560px)
{
    .modal
    {
        bottom: 10px;   
        .modal-header
        {
            position: fixed;
            top: 11px;
            left: 11px;
            right: 11px;
        }
        
        .modal-body
        {
            position: fixed;
            bottom: 10px;
            right: 11px;
            top: 60px;
            left: 11px;
            -webkit-overflow-scrolling: touch; //for iOS
        }
    }
    
    .modal.has-footer
    {
        .modal-body
        {
            bottom: 70px;
        }
        .modal-footer
        {
            position: fixed;
            bottom: 10px;
            left: 11px;
            right: 11px;
        }
    }
    
}
